body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
img {
    border: none;
}
a {
    outline: none;
}
button,
input,
select,
textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border: none;
    height: 1px;
}
html,
body {
    height: 100%;
}
address,
cite,
dfn,
var {
    font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}
small {
    font-size: 12px;
}
header,
section,
footer,
aside,
nav,
article,
figure,
figcaption,
hgroup {
    display: block;
    margin: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}